#appMenu-passwords-button {
	display: none !important;
}

#alltabs-button {
	display: none !important
}

.titlebar-spacer[type="post-tabs"] {
	display: none !important;
}

/* Extension name inside URL bar */
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse !important
}

/*  Removes urlbar border/background  */
#urlbar-background {
  border: none !important;
  outline: none !important;
  transition: .15s !important;
}

#urlbar .search-one-offs .search-panel-header {
    display: none !important;
  }

/*  Removes annoying border  */
#navigator-toolbox {
    border: none !important
}

/* Fades window while not in focus */
#navigator-toolbox-background:-moz-window-inactive {
  filter: contrast(90%)
}
